<!-- wp:template-part {"slug":"primary-header" ,"tagName":"header"} /-->
<!-- wp:pattern {"slug":"high-life/404-header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

    <!-- wp:group {"tagName":"div"} -->
    <div class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
        <div class="wp-block-group">
            <!-- wp:pattern {"slug":"high-life/hidden-404"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-three-columns","tagName":"footer"} /-->