<!-- wp:template-part {"slug":"primary-header" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">
    <!-- wp:pattern {"slug":"high-life/header-media"} /-->
    <!-- wp:pattern {"slug":"high-life/hero-content-with-collage-images"} /-->
    <!-- wp:pattern {"slug":"high-life/featured-category"} /-->
    <!-- wp:pattern {"slug":"high-life/trending-products"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-three-columns","tagName":"footer"} /-->